<html>

<head>
    <title>Auth</title>
    <script>
        function myFunction() {
            window.location="/tokens?code=<%= code %>";

        }
    </script>
</head>

<body>
    <button onClick="myFunction()">Get token</button>

</body>

</html>