<html>

<head>
    <title>Tokens</title>
</head>

<body>
   <ul>
  <li>Auth token <%= authtoken %></li>
  <li>Refresh token <%= refreshtoken %></li>
 <li>Location <%= location %></li>

</ul> 

</body>

</html>