<settings>
    <newsreleasedb>lab2News</newsreleasedb>
    <newstestdb>lab2NewsTest</newstestdb>
    <usersreleasedb>lab2Users</usersreleasedb>
    <userstestdb>lab2UsersTest</userstestdb>
    <commentsreleasedb>lab2Comments</commentsreleasedb>
    <commentstestdb>lab2CommentsTest</commentstestdb>
    <likehistoryreleasedb>lab2LikeHistory</likehistoryreleasedb>
    <likehistorytestdb>lab2LikeHistory</likehistorytestdb>
    <passwordMysql>1111</passwordMysql>
</settings>
